<div class="container">
    <!--<div class="page-header">
        <h2>
            Hello, world!
        </h2>
    </div>-->

    <div class="container">
        <ul class="list-group">
            <li data-ng-repeat="message in $ctrl.messages" class="list-group-item" data-ng-class="{'disabled': !message.username}">
                <span data-ng-if="message.username" class="label" data-ng-class="message.username === 'You' ? 'label-default' : 'label-primary'">{{message.username}}</span>
                <span data-ng-class="{'small text-uppercase': !message.username}">{{message.body}}</span>
                <small am-time-ago="message.postmark" class="pull-right"></small>
            </li>
        </ul>
        <div>
            <form class="form-horizontal" id="send-message-form">
                <div class="form-group">
                    <!--<label for="exampleInputName2" class="col-sm-1 control-label">message</label>-->
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="$ctrl.message" class="form-control" id="message-input" placeholder="type your message here" autocomplete="off" autofocus>
                    </div>
                    <div class="col-sm-2">
                    <button type="submit" data-ng-click="$ctrl.write()" for="send-message-form" class="btn btn-primary form-control" data-ng-disabled="!$ctrl.isConnected || !$ctrl.message">
                        {{$ctrl.isConnected ? 'send' : 'wait'}}
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
